.inputContainer {
    display: flex;
    flex-direction: column;
}

.inputContainer + .inputContainer {
    margin-top: 10px;
}

.input {
    border: 2px solid var(--gray);
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    font-family: var(--title-font);
    font-size: 1.2em;
}

.input:focus {
    outline: 4px solid var(--focus);
    border: 2px solid var(--green);
}

.error {
    border-color: var(--red);
}

.errorMessage {
    color: var(--red);
    font-size: 0.8em;
    font-family: var(--title-font);
}
